@import "../../../Cards.scss";

.card {
  @include card;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  color: white;
  height: 465px;
}

.user_address {
  a {
    text-decoration: none;
    color: royalblue;

    &:hover {
      font-style: italic;
    }
  }
}

.title_user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 10px 0px 0px 0px;

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }
}

.title_owner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 10px 0px 0px 0px;

  h2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }
}

.subtitle {
  margin: 0px 0px 10px 0px;
}
