@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Freshman";
  src: url("./Freshman-POdx.ttf");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: rgb(255, 255, 229);
  background: radial-gradient(
    circle,
    rgba(255, 255, 229, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 85% 5%;
  grid-gap: 0px;
  height: 100%;
}

header,
footer {
  grid-column: 1 / span 5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  .address-display {
    font-style: italic;
    font-size: 0.8rem;
  }
}

main {
  grid-column: span 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

aside {
  grid-column: span 1;
  padding: 30px 20px;
  border-right: solid 3px #edf2f7;
}

h2,
h3 {
  text-align: center;
  margin: 5px 0px 10px 0px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 10px 14px 10px;
  transition: 0.2s;
  font-size: 1.2rem;
  -moz-box-shadow: 1px 8px 10px -5px #ccc;
  -webkit-box-shadow: 1px 8px 10px -5px #ccc;
  box-shadow: 1px 8px 10px -5px #ccc;

  &.disabled {
    background-color: #e2e8f0;
    color: #718096;

    &:active,
    &:hover {
      background-color: darken(#e2e8f0, 10);
    }
  }

  &.success {
    background-color: #68d391;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#68d391, 10);
    }
  }

  &.info {
    background-color: #63b3ed;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#63b3ed, 10);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.error {
    background-color: #fc8181;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#fc8181, 10);
    }
  }

  &:active {
    margin: 14px 10px 10px 10px;
  }

  &.large {
    font-size: 1.8rem;
    padding: 15px 25px;
  }
}

.text-success {
  color: #68d391;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  div {
    padding: 5px;
    width: 50%;
  }

  input {
    padding: 10px;
    border: solid 2px #edf2f7;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

.title {
  display: flex;
  flex-direction: row;

  h1 {
    font: bold 4em "Freshman", serif;
  }

  .red {
    .z-layer {
      color: #f44336;
    }
    .z-layer:not(:first-child) {
      color: darken(#f44336, 30);
    }
  }

  .yellow {
    .z-layer {
      color: #ffc107;
    }
    .z-layer:not(:first-child) {
      color: darken(#ffc107, 30);
    }
  }

  .green {
    .z-layer {
      color: #8bc34a;
    }
    .z-layer:not(:first-child) {
      color: darken(#8bc34a, 30);
    }
  }

  .blue {
    .z-layer {
      color: #03a9f4;
    }
    .z-layer:not(:first-child) {
      color: darken(#03a9f4, 30);
    }
  }

  .grey {
    .z-layer {
      color: #607d8b;
    }
    .z-layer:not(:first-child) {
      color: darken(#607d8b, 30);
    }
  }

  .turquoise {
    .z-layer {
      color: #009688;
    }
    .z-layer:not(:first-child) {
      color: darken(#009688, 30);
    }
  }

  .orange {
    .z-layer {
      color: #ff9800;
    }
    .z-layer:not(:first-child) {
      color: darken(#ff9800, 30);
    }
  }

  .z-text {
    /* Tip: Apply CSS transforms here */
    /* rotateX() == up/down */
    /* rotateY() == left/right */
    transform: rotateX(-20deg);
  }

  .z-layer:not(:first-child) {
    color: #455a64;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #455a64;
    font-weight: bold;
    margin: 0px 5px;

    &:hover {
      color: royalblue;
    }
  }
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  margin: 30px;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
  margin: 0px 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-31 9:9:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* FLIP ANIMATION FOR CARDS */
/* entire container, keeps perspective */
.flip-container-portrait,
.flip-container-landscape {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container-portrait .flip-card.hover,
.flip-container-landscape .flip-card.hover {
  transform: rotateY(180deg);
}

.flip-container-portrait,
.front-portrait,
.back-portrait {
  width: 380px;
  height: 550px;
}

.flip-container-landscape,
.front-landscape,
.back-landscape {
  width: 380px;
  height: 350px;
}

/* flip speed goes here */
.flip-card {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front-portrait,
.front-landscape,
.back-portrait,
.back-landscape {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

/* front pane, placed above back */
.front-portrait,
.front-landscape {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back-portrait,
.back-landscape {
  transform: rotateY(180deg);
}

.bcd-icon {
  display: inline-block;
  font-size: 0.5rem;
  vertical-align: middle;
  border: solid 1px black;
  padding: 3px;
  border-radius: 5px;

  &:hover {
    border-color: royalblue;
  }
}

/* Custom dropdown */
/* https://codepen.io/silverdrop/pen/msrcE */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.custom-dropdown select {
  background-color: #f2c512;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem;
  padding-right: 2.5rem;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
  appearance: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: span 5 / 1;
  }
}
