html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10% 85% 5%;
  grid-gap: 0px;
  height: 100%;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 2 / span 4;
  display: grid;
}

aside {
  grid-column: span 1;
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }
}
