@font-face {
  font-family: "Freshman";
  src: url("./Freshman-POdx.ttf");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: rgb(255, 255, 229);
  background: radial-gradient(
    circle,
    rgba(255, 255, 229, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 85% 5%;
  grid-gap: 0px;
  height: 100%;
}

header,
footer {
  grid-column: 1 / span 5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}

main {
  grid-column: span 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

aside {
  grid-column: span 1;
  padding: 30px 20px;
  border-right: solid 3px #edf2f7;
}

h2 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 10px 14px 10px;
  transition: 0.2s;
  font-size: 1.2rem;
  -moz-box-shadow: 1px 8px 10px -5px #ccc;
  -webkit-box-shadow: 1px 8px 10px -5px #ccc;
  box-shadow: 1px 8px 10px -5px #ccc;

  &.disabled {
    background-color: #e2e8f0;

    &:active,
    &:hover {
      background-color: darken(#e2e8f0, 10);
    }
  }

  &.success {
    background-color: #68d391;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#68d391, 10);
    }
  }

  &.info {
    background-color: #63b3ed;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#63b3ed, 10);
    }

    &:active {
      box-shadow: none;
    }
  }

  &.error {
    background-color: #fc8181;
    color: white;

    &:active,
    &:hover {
      background-color: darken(#fc8181, 10);
    }
  }

  &:active {
    margin: 14px 10px 10px 10px;
  }
}

.text-success {
  color: #68d391;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  div {
    padding: 5px;
    width: 50%;
  }

  input {
    padding: 10px;
    border: solid 2px #edf2f7;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

.title {
  display: flex;
  flex-direction: row;

  h1 {
    font: bold 4em "Freshman", serif;
  }

  .red {
    .z-layer {
      color: #f44336;
    }
    .z-layer:not(:first-child) {
      color: darken(#f44336, 30);
    }
  }

  .yellow {
    .z-layer {
      color: #ffc107;
    }
    .z-layer:not(:first-child) {
      color: darken(#ffc107, 30);
    }
  }

  .green {
    .z-layer {
      color: #8bc34a;
    }
    .z-layer:not(:first-child) {
      color: darken(#8bc34a, 30);
    }
  }

  .blue {
    .z-layer {
      color: #03a9f4;
    }
    .z-layer:not(:first-child) {
      color: darken(#03a9f4, 30);
    }
  }

  .grey {
    .z-layer {
      color: #607d8b;
    }
    .z-layer:not(:first-child) {
      color: darken(#607d8b, 30);
    }
  }

  .turquoise {
    .z-layer {
      color: #009688;
    }
    .z-layer:not(:first-child) {
      color: darken(#009688, 30);
    }
  }

  .orange {
    .z-layer {
      color: #ff9800;
    }
    .z-layer:not(:first-child) {
      color: darken(#ff9800, 30);
    }
  }

  .z-text {
    /* Tip: Apply CSS transforms here */
    /* rotateX() == up/down */
    /* rotateY() == left/right */
    transform: rotateX(-20deg);
  }

  .z-layer:not(:first-child) {
    color: #455a64;
  }
}

footer a {
  text-decoration: none;
  color: #455a64;
  font-weight: bold;
  margin: 0px 5px;

  &:hover {
    color: royalblue;
  }
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: span 5 / 1;
  }
}
