$pixel-size-small: 6px;
$pixel-size-medium: 2px;
$pixel-size-large: 2px;

$small-grid-blocks: 12;
$medium-grid-blocks: 32;
$large-grid-blocks: 48;

.grid {
  margin: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@mixin grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  justify-items: center;
  align-items: center;
}

.grid__header {
  @include grid;
  text-align: center;
  font-weight: bold;
  grid-template-rows: 60px;
  font-size: 1.3rem;
}

.grid__row {
  @include grid;
  grid-template-rows: 100px;
  border-top: solid 1px #a0aec0;
  font-size: 1.1rem;
}

.author {
  text-decoration: underline;
  color: white;

  &:hover {
    font-style: italic;
  }
}

.pixelGridSmall {
  display: grid;
  grid-template-rows: repeat($small-grid-blocks, $pixel-size-small);
  grid-template-columns: repeat($small-grid-blocks, $pixel-size-small);
  width: $pixel-size-small * $small-grid-blocks;
  height: $pixel-size-small * $small-grid-blocks;
  margin: auto;
}

.pixelGridMedium {
  display: grid;
  grid-template-rows: repeat($medium-grid-blocks, $pixel-size-medium);
  grid-template-columns: repeat($medium-grid-blocks, $pixel-size-medium);
  width: $pixel-size-medium * $medium-grid-blocks;
  height: $pixel-size-medium * $medium-grid-blocks;
  margin: auto;
}

.pixelGridLarge {
  display: grid;
  grid-template-rows: repeat($large-grid-blocks, $pixel-size-large);
  grid-template-columns: repeat($large-grid-blocks, $pixel-size-large);
  width: $pixel-size-large * $large-grid-blocks;
  height: $pixel-size-large * $large-grid-blocks;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.card {
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  position: relative;
  -moz-box-shadow: 1px 8px 10px -5px #ccc;
  -webkit-box-shadow: 1px 8px 10px -5px #ccc;
  box-shadow: 1px 8px 10px -5px #ccc;
  /*background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);*/
  background: rgb(238, 190, 152);
  background: linear-gradient(
    180deg,
    rgba(238, 190, 152, 1) 0%,
    rgba(250, 129, 113, 1) 100%
  );
  color: white;
}

.card__header {
  padding: 20px 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.card__image {
  width: 192px;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__body {
}

.card__button {
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
  margin: 10px 10px 14px 10px;
  transition: 0.2s;
  font-size: 1.2rem;
  color: white;
  background: #eebe98;
  transition: 0.2s;

  &:active {
    margin: 14px 10px 10px 10px;
  }
}

.card__footer {
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }
}

.card__link {
  text-decoration: none;
  color: #ecebeb;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  margin: 50px;
}

.pulsate_fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
  margin: 0px 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-31 9:9:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
