@import "../../../Cards.scss";

.author {
  text-decoration: underline;
  color: white;

  &:hover {
    font-style: italic;
  }
}

.card {
  @include card;
  /*background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);*/
  background: rgb(238, 190, 152);
  background: linear-gradient(
    180deg,
    rgba(238, 190, 152, 1) 0%,
    rgba(250, 129, 113, 1) 100%
  );
  color: white;
}
