@mixin toast {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  padding: 20px 40px;
  max-width: 300px;
  text-align: center;
  opacity: 0;
  -moz-box-shadow: 1px 8px 10px -5px #ccc;
  -webkit-box-shadow: 1px 8px 10px -5px #ccc;
  box-shadow: 1px 8px 10px -5px #ccc;
  z-index: 100;

  a {
    text-decoration: none;
  }
}

.toast_default {
  @include toast;
  background-color: #edf2f7;
  color: #718096;
}

.toast_info {
  @include toast;
  background-color: #bee3f8;
  color: #3182ce;
}

.toast_success {
  @include toast;
  background-color: #c6f6d5;
  color: #38a169;
}

.toast_error {
  @include toast;
  background-color: #fed7d7;
  color: #e53e3e;
}

.show {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hide {
  -webkit-animation: slide-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
